@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #3b3b3b;
  --negroModal: #3b3b3b7c;
  --blanco: rgb(255, 255, 255);
  --grisclaro: #c9c9c9;
  --rojoprincipal: #8b1919;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
  --gris: rgb(124, 124, 124);
  --azul: rgb(0, 0, 255);
  --azulClaro: #0d6efd;
  --verde: #8bc34a;
  --rojo: #bb2d3b;
  --rojo-transparente: #8b191931;
  --gris-historial-inicio: #7c7c7c;

  /* nueva linea grafica */
  --gris-oscuro: #373435;
  --gris-claro: #4f4d4d;
  --rojo-principal-claro: #8b1919ec;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--gris);
  color: var(--blanco);
}
::selection {
  background-color: var(--gris);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  /* min-height: 100%; */
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.btn {
  padding: 16px;
  font-size: 26px;
  width: fit-content;
  margin: 2px;
}

.btn-rojo {
  background-color: var(--rojoprincipal);
  color: var(--blanco);
  border-radius: 10px;
  transition: all ease 0.1s;
  cursor: pointer;
}

.btn-rojo:hover {
  background-color: var(--grisclaro);
  color: #8b1919;
  outline: 1px solid var(--rojoprincipal);
}

/* .section{
  background-color: red;
} */

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 100px;
  flex: 1;
}

.section-buscador-informes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 0 5px;
}

#check-gen-certificados {
  outline: 1px solid var(--rojoprincipal);
  border-radius: 50%;
  padding: 10px;
}

#check-gen-certificados:checked {
  background-color: var(--rojoprincipal);
}

#label-check-gen-certificados {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-btn-generar-certificados {
  display: flex;
  justify-content: right;
}

.btn-generar-certificados {
  outline: 1px solid var(--rojoprincipal);
  background-color: var(--rojoprincipal);
  padding: 16px !important;
  font-size: 16px !important;
  color: var(--blanco);
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-generar-certificados:hover {
  cursor: pointer;
  background-color: var(--blanco);
  color: var(--rojoprincipal);
}

.historial-nav-article {
  display: flex;
  justify-content: left;
  gap: 5px;
  align-items: center;
  color: var(--rojo-principal-claro);
}

/* #nav-menu-top {
  background-color: var(--blanco);
  color: var(--rojoprincipal);
  line-height: 1;
  border-radius: 50%;
  padding: 16px;
  transition: all ease 0.3s;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  outline: 1px solid var(--rojoprincipal);
}

#nav-menu-top:hover {
  outline: 3px solid var(--rojoprincipal);
}

.nav-menu-top .material-symbols-outlined {
  margin-right: 0;
} */

#info-cohorte-copia-link-inscripcion:hover {
  transform: scale(1.2);
}

#info-cohorte-copia-link-asistencia:hover {
  transform: scale(1.2);
}

.data-cohorte-linkCon:hover {
  /*transform: scale(1.2);*/
  background-color: #f4f4f4;
}

.button {
  width: 100%;
  background-color: var(--rojoprincipal);
  color: var(--blanco);
  padding: 16px;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  background-color: var(--blanco);
  color: var(--rojoprincipal);
  outline: 1px solid var(--rojoprincipal);
}

.modal-data-cohorte-estado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#label-newform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.form-select-new-form {
  width: 100% !important;
}

@media only screen and (max-width: 1023px) {
}
@media only screen and (min-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .main {
    padding: 30px 30px;
  }
}
