.header {
  background-color: var(--rojoprincipal);
}

.header-div-sesion {
  color: var(--rojoprincipal);
}

.header-nav {
  color: var(--blanco);
}

.nav-lista-item:hover {
  background-color: var(--negro);
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .header {
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
  }

  .header-div-sesion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    font-size: 30px;
  }

  .nav-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    width: 100%;
    padding: 16px 0;
  }

  .nav-lista > li {
    padding: 20px 0 20px 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .nav-lista-item:hover {
    background-color: var(--negro);
    color: var(--blanco);
    cursor: pointer;
  }

  .nav-figure {
    width: 100%;
    height: 100px;
  }

  #nav-logo {
    height: 100%;
    object-fit: contain;
  }

  .nav-lista-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-lista-disable {
    display: none;
  }

  #nav-menu-hamburguer {
    color: var(--rojoprincipal);
    position: fixed;
    width: fit-content;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    font-size: 500px;
    border-radius: 50%;
    background-color: var(--blanco);
    height: fit-content;
    padding: 16px;
    outline: 1px solid var(--rojoprincipal);
  }

  #nav-menu-hamburguer > * {
    display: block;
    height: fit-content;
  }

  #nav-menu-hamburguer:hover {
    cursor: pointer;
    outline: 3px solid var(--rojoprincipal);
  }

  .header-div-sesion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
  }

  .nav-item-sublista {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid var(--blanco);
  }

  .nav-item-sublista > li {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }

  .nav-item-sublista > li:hover {
    background-color: var(--rojoprincipal);
    color: var(--blanco);
  }

  .nav-item-sublista-disable {
    display: none;
  }

  .nis-tf,
  .nis-f {
    display: none;
  }

  #sesion-div-controles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 25px 0;
  }

  #sesion-controles-div-text {
    gap: 16px;
  }

  #nav-item-sublista-sesion {
    border-top: 1px solid var(--negro);
  }

  .header-div-sesion {
    border-bottom: 1px solid var(--rojoprincipal);
  }

  .header-figure-link-index{
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    height:130px;
    display: flex;
    justify-content: space-between;
  }

  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
  }
  .nav-lista {
    display: flex;
    color: var(--blanco);
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .header-div-sesion {
    display: flex;
    background-color: var(--blanco);
    justify-content: center;
    align-items: center;
    width: 25%;
  }
  .nav-figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-figure > img {
    object-fit: scale-down;
  }

  .nav-lista-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .nav-item-sublista li a {
    display: flex;
    text-decoration: none;
    color: var(--rojoprincipal);
    outline: 1px solid var(--rojoprincipal);
    padding: 16px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .nav-item-sublista li a:hover {
    background-color: var(--negro);
    color: var(--blanco);
  }

  .nav-lista-item ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .nav-lista-item:hover > ul {
    display: block;
  }

  .nav-lista-item ul li {
    display: block;
    background-color: var(--blanco);
  }

  .header-div-sesion {
    position: relative;
  }

  .header-div-sesion ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }
  .header-div-sesion:hover > ul {
    display: flex;
    flex-direction: column;
  }

  .header-div-sesion ul li {
    display: block;
    background-color: var(--blanco);
  }

  #nav-menu-hamburguer {
    display: none;
  }

  #sesion-div-controles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.header-div-sesion:hover {
  /* background-color: var(--negro); */
  /* color: var(--blanco); */
  border-bottom: 3px solid var(--rojoprincipal);
}

#sesion-controles-div-text {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
}

#sesion-img-icon {
  padding: 16px;
  line-height: 1;
  border-radius: 50%;
  outline: 1px solid var(--blanco);
  background-color: var(--rojoprincipal);
  color: var(--blanco);
}

.dowm {
  background-color: var(--rojoprincipal);
  color: white;
  border-radius: 50%;
}

.header-a-informes {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-figure-link-index {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
