.buscador-informes-article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}

#input-buscador-informes{
    outline: 3px solid var(--rojoprincipal);
    border-radius: 5px;
    padding: 15px;
}

#input-buscador-informes:focus{
    outline: 5px solid var(--rojoprincipal);
}
