.article-modal {
  background-color: var(--negroModal);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;
}

@media only screen and (max-width: 1023px) {
  .modal-contenido {
    width: 90%;
  }
  .modal-contenido-form-div > label {
    width: 100%;
    text-align: left;
  }

  .modal-contenido-form-div-join {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  .modal-contenido {
    width: 70%;
  }

  .modal-contenido-form-div-join {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .modal-contenido-form-div{
    width: 100%;
  }

  .modal-contenido-form-div--new-formacion{
    width: 100%;
  }

  .modal-contenido-form-div > label {
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.modal-contenido {
  background-color: var(--blanco);
}
.modal-header {
  background-color: var(--negro);
  color: var(--blanco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 25px;
}

.material-google-icon {
  cursor: pointer;
  user-select: none;
}

.modal-contenido-form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.modal-contenido-form-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-contenido-form-div-lleno {
  display: flex;
  flex-direction: row;
}

.texto-title-form-region {
  text-decoration: underline;
}

.modal-contenido-button {
  width: 100%;
  background-color: var(--rojoprincipal);
  color: var(--blanco);
  padding: 16px;
  transition: all 0.3s ease;
}

.modal-contenido-button:hover {
  cursor: pointer;
  background-color: var(--blanco);
  color: var(--rojoprincipal);
  outline: 1px solid var(--rojoprincipal);
}

.modal-contenido-form-input {
  padding: 16px 7px;
  outline: 1px solid var(--negroModal);
  border-radius: 10px;
  width: 100%;
}

.modal-contenido-form-input:focus {
  outline: 3px solid var(--rojoprincipal);
}

.modal-disabled {
  display: none;
}

.modal-contenido-form-input-check {
  outline: 1px solid var(--rojoprincipal);
  border-radius: 50%;
  padding: 10px;
}

.modal-contenido-form-div-check {
  gap: 16px;
  user-select: none;
}

.modal-contenido-form-div-check>label{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  gap: 1rem;
}

.modal-contenido-form-input-check:checked {
  background-color: var(--rojoprincipal);
}

.modal-data-cohorte {
  padding: 25px;
}

.modal-data-cohorte h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--rojoprincipal);
}

.modal-title {
  font-size: 20px;
}

.on-info-cohorte {
  color: var(--verde);
}
.off-info-cohorte {
  color: var(--rojo);
}

.share-info-cohorte {
  color: var(--rojoprincipal);
  cursor: pointer;
  user-select: none;
}

.data-cohorte-linkCon {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 8px 8px;
  color: var(--rojoprincipal);
  cursor: pointer;
  /*gap: 16px;*/
  user-select: none;
  width: fit-content;
  transition: .3s;
  margin: 8px 0;
}
