@media only screen and (max-width: 1023px) {
  /* .article-notificacion {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .article-notificacion {
    width: 100%;
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .article-notificacion {
    width: 90%;
    padding: 0 30px;
  } */
}

.notificacion {
  display: flex;
  /*justify-content: space-between;*/
  color: var(--blanco);
  font-size: 20px;
  padding: 16px;
  margin-top: 16px;
}

.notificacion-verde {
  background-color: var(--verde);
}

.notificacion-roja {
  background-color: var(--rojo);
}

.notificacion-disabled {
  display: none;
}

.main_div-formNoDisponible{
  font-weight: 900;
  outline: 1px solid var(--rojo);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.main_div-formNoDisponible-disabled{
  display: none;
}
