.notificacion {
    display: flex;
    justify-content: space-between;
    color: var(--blanco);
    font-size: 25px;
    padding: 16px;
    margin-top: 16px;
}

.notificacion-verde{
    background-color: var(--verde);
}

.notificacion-roja{
    background-color: var(--rojo);
}

.notificacion-disabled{
    display: none;
}