@media only screen and (max-width: 1023px) {
  .section-table {
    overflow: scroll;
  }
}
@media only screen and (min-width: 1024px) {
}

.section-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}

.table-descripcion {
  font-size: 20px;
  padding: 0 0 16px 0;
  text-align: left;
  font-weight: bold;
}

table {
  width: 100%;
  transition: 0.5s;
}

th {
  background-color: var(--rojoprincipal);
  color: var(--blanco);
  padding: 8px 16px;
  outline: 1px solid var(--grisclaro);
  white-space: nowrap;
}

td {
  text-align: center;
  padding: 8px;
  outline: 1px solid var(--grisclaro);
}

tr {
  transition: 0.5s;
  outline: 1px solid var(--grisclaro);
  vertical-align: middle;
}

tr:nth-child(odd) {
  background-color: #f1f1f1;
}

tr:hover {
  background-color: #e1e1e1;
}

.td-acciones-index {
  text-align: left;
}

.td-acciones {
  user-select: none;
}

.icon-disabled {
  visibility: hidden;
}

.td-acciones span:hover {
  color: var(--rojoprincipal);
  scale: 1.3;
  cursor: pointer;
  user-select: none;
}

.asistencias-boton-exportar {
  font-size: 16px !important;
  padding: 10px !important;
  background-color: var(--rojoprincipal);
  color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all ease 0.3s;
  margin: 2px;
}

.asistencias-boton-exportar:hover {
  cursor: pointer;
  background-color: var(--blanco);
  color: var(--rojoprincipal);
  outline: 1px solid var(--rojoprincipal);
}

.table-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .td-acciones {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  outline: none;
} */

.index-aceptarPonente {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px;
  user-select: none;
  transition: all 0.3s ease;
}

.index-aceptarPonente:hover {
  outline: 0.2px solid var(--rojoprincipal);
  color: var(--rojoprincipal);
}

td {
  vertical-align: middle;
}

.p-noregistros {
  display: none;
}

.p-noRegistros-enabled {
  display: flex;
  background-color: var(--grisclaro);
  justify-content: center;
  align-items: center;
}
