@media only screen and (max-width: 1023px) {
  .section-table {
    overflow: scroll;
  }
}
@media only screen and (min-width: 1024px) {
}

.section-table{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table-descripcion {
  font-size: 25px;
  padding: 0 0 16px 0;
  text-align: left;
}

table {
  width: 100%;
}

th {
  background-color: var(--negro);
  color: var(--blanco);
  padding: 16px;
  outline: 1px solid var(--rojoprincipal);
  white-space: nowrap;
}

td {
  text-align: center;
  padding: 16px;
  outline: 1px solid var(--rojoprincipal);
}
tr:hover{
  background-color: var(--grisclaro);
}

.td-acciones span:hover {
  color: var(--rojoprincipal);
  scale: 1.3;
  cursor: pointer;
  user-select: none;
}

.asistencias-boton-exportar{
  outline: 1px solid var(--rojoprincipal);
  font-size: 16px !important;
  padding: 10px !important;
  background-color: var(--rojoprincipal);
  color: var(--blanco);
  display: flex ;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all ease 0.3s;
}

.asistencias-boton-exportar:hover{
  cursor: pointer;
  background-color: var(--blanco);
  color: var(--rojoprincipal);
}

.table-sort{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}